body {
  font-family: Helvetica;
  text-align: center;
}

h1 {
  font-size: 70px;
  font-weight: bold;
  color: white;
}

.header {
  background-image: url(../images/the-flatiron-building.png);
  padding-bottom: 20px;
}

.footer {
  text-align: left;
}
